p, span {
  font-family: "Rubik";
  font-size: 16px; }

a {
  font-family: "Rubik";
  font-size: 16px; }

header {
  background-image: url("../image/header-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 30px; }
  header .header-city {
    padding: 0; }
  header .jq-selectbox {
    display: inline-block;
    width: 100%;
    max-width: 198px;
    margin-left: 30px;
    margin-bottom: 10px; }
    header .jq-selectbox select {
      color: #fff;
      background: transparent;
      border: 1px solid #fff;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      font-family: 'Roboto slab';
      padding: 3px 15px;
      width: 100%; }
  header .header-phones {
    padding: 0;
    text-align: right; }
    header .header-phones .header-phone {
      font-family: "Roboto Slab", sans-serif;
      font-size: 25px;
      color: #ffffff; }
  header .header-banner .banner-title {
    font-size: 40px;
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold; }
    @media (max-width: 1199px) {
      header .header-banner .banner-title {
        font-size: 25px; }
        header .header-banner .banner-title br {
          display: none; } }
  header .header-banner .mainButton.xs {
    margin-right: 30px; }
  header .header-banner img {
    max-width: 100%; }
  header .header-menu {
    background-color: #fedebb;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 10px 6px;
    padding-left: 25px;
    margin-bottom: -35px;
    position: relative; }
    header .header-menu .mobile-menu {
      display: none; }
    header .header-menu nav {
      display: inline-block;
      width: -webkit-calc(100% - 170px);
      width: calc(100% - 170px);
      z-index: 100; }
    header .header-menu .menu-item {
      color: #76481a;
      font-size: 18px;
      display: inline-block;
      margin-right: 57px; }
      header .header-menu .menu-item:hover {
        color: #07c229;
        text-decoration: none; }
  header .mb {
    display: none; }
  @media (max-width: 1199px) {
    header .banner-desc {
      padding-top: 60px; }
    header .banner-buttons {
      text-align: center; }
      header .banner-buttons .mainButton.xs {
        margin-right: 0;
        margin-bottom: 15px; }
    header .header-menu .menu-item {
      font-size: 16px;
      margin-right: 25px; } }
  @media (max-width: 991px) {
    header .header-logo {
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }
    header .banner-subTitle {
      display: none; }
    header .banner-desc {
      padding-top: 45px; }
    header .header-menu nav {
      width: -webkit-calc(100% - 44px);
      width: calc(100% - 44px); }
    header .header-menu .menu-item {
      font-size: 15px;
      margin-right: 24px; }
    header .header-menu .mainButton {
      width: 40px;
      height: 40px;
      font-size: 0;
      background-image: url(../image/cart.png);
      background-position: 9px 9px;
      background-repeat: no-repeat;
      vertical-align: middle; } }
  @media (max-width: 768px) {
    header .header-city {
      text-align: center; }
      header .header-city .font-white.tdu {
        display: block;
        text-align: center; }
    header .header-phones {
      margin-top: 20px;
      text-align: center; }
    header .container {
      padding-left: 5px;
      padding-right: 5px; }
    header .jq-selectbox {
      margin-left: 20px; }
    header .header-menu {
      -webkit-border-radius: 0;
              border-radius: 0;
      width: -webkit-calc(100% + 10px);
      width: calc(100% + 10px);
      margin-left: -5px;
      text-align: center; }
      header .header-menu nav {
        position: absolute;
        width: 100%;
        top: 100%;
        background: #fedebb;
        left: 0;
        display: none;
        padding-bottom: 20px; }
        header .header-menu nav .menu-item {
          display: block;
          text-align: left;
          padding: 5px;
          font-size: 18px; }
      header .header-menu .mobile-menu {
        display: inline-block;
        font-size: 18px;
        color: #6f4211;
        margin-right: 105px; }
    header .mn {
      display: none; }
    header .mb {
      display: block; }
    header .header-banner .mb {
      max-width: 320px;
      margin: 0 auto; }
    header .banner-title {
      text-align: center; }
    header .banner-buttons .mainButton {
      display: block;
      margin: 0px auto 30px auto; }
      header .banner-buttons .mainButton.xs {
        display: block;
        margin: 0px auto 15px auto; } }

.videoSection {
  padding-top: 46px;
  padding-bottom: 65px; }
  .videoSection .bx-wrapper {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 27px; }
  .videoSection #videoSlider-pager {
    letter-spacing: -5px; }
    .videoSection #videoSlider-pager a {
      display: inline-block;
      width: 29.7%; }
      .videoSection #videoSlider-pager a:not(:last-child) {
        margin-right: 5.5%; }
      .videoSection #videoSlider-pager a img {
        max-width: 100%; }
    @media (max-width: 768px) {
      .videoSection #videoSlider-pager {
        display: none; } }
  .videoSection .bottom-sticky {
    position: absolute;
    bottom: 0; }
    @media (max-width: 991px) {
      .videoSection .bottom-sticky {
        display: none; } }
  @media (min-width: 991px) {
    .videoSection .videoSection-desc {
      padding-bottom: 59px; } }
  @media (max-width: 991px) {
    .videoSection {
      padding-bottom: 20px; } }
  @media (max-width: 768px) {
    .videoSection .bx-wrapper .bx-controls-direction {
      position: absolute !important;
      width: 100%;
      bottom: -webkit-calc(100% + 29px);
      bottom: calc(100% + 29px); }
      .videoSection .bx-wrapper .bx-controls-direction .bx-prev {
        left: 5px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-prev.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .videoSection .bx-wrapper .bx-controls-direction .bx-prev:hover, .videoSection .bx-wrapper .bx-controls-direction .bx-prev:active {
          background-image: url("../image/mobile-prev-hover.png"); }
      .videoSection .bx-wrapper .bx-controls-direction .bx-next {
        right: 5px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-next.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .videoSection .bx-wrapper .bx-controls-direction .bx-next:hover, .videoSection .bx-wrapper .bx-controls-direction .bx-next:active {
          background-image: url("../image/mobile-next-hover.png"); } }
  @media (max-width: 640px) {
    .videoSection .bx-wrapper {
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      margin-left: -30px;
      max-width: 200% !important; } }

.descSection {
  background-color: #fff6d7;
  padding-top: 60px;
  padding-bottom: 80px; }
  .descSection .descSection-item {
    margin-bottom: 25px; }
  .descSection p {
    font-size: 15px;
    color: #777777;
    margin: 0; }
  @media (max-width: 768px) {
    .descSection {
      display: none; } }

.mottoSection {
  background-image: url("../image/trees-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.gallerySection {
  padding-bottom: 35px; }
  .gallerySection .bx-wrapper {
    margin: 0 auto;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .gallerySection .bx-wrapper .bx-prev {
      background-image: url("../image/gal-prev.png");
      width: 84px;
      height: 72px;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center center; }
      .gallerySection .bx-wrapper .bx-prev:hover {
        opacity: 0.5;
        background-position: center center !important; }
    .gallerySection .bx-wrapper .bx-next {
      background-image: url("../image/gal-next.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 84px;
      background-position: center center;
      height: 72px; }
      .gallerySection .bx-wrapper .bx-next:hover {
        opacity: 0.5;
        background-position: center center !important; }
  @media (max-width: 820px) {
    .gallerySection .bx-wrapper .bx-controls-direction {
      position: absolute;
      bottom: -webkit-calc(100% + 29px);
      bottom: calc(100% + 29px);
      width: 100%; }
      .gallerySection .bx-wrapper .bx-controls-direction .bx-prev {
        left: 5px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-prev.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .gallerySection .bx-wrapper .bx-controls-direction .bx-prev:hover, .gallerySection .bx-wrapper .bx-controls-direction .bx-prev:active {
          background-image: url("../image/mobile-prev-hover.png"); }
      .gallerySection .bx-wrapper .bx-controls-direction .bx-next {
        right: 5px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-next.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .gallerySection .bx-wrapper .bx-controls-direction .bx-next:hover, .gallerySection .bx-wrapper .bx-controls-direction .bx-next:active {
          background-image: url("../image/mobile-next-hover.png"); } }
  @media (max-width: 640px) {
    .gallerySection {
      padding-bottom: 20px; }
      .gallerySection .bx-wrapper img {
        width: 100%; } }

.paletteSection {
  padding: 25px 0; }
  .paletteSection .bx-wrapper {
    max-width: 884px !important;
    margin: 0 auto;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 25px !important; }
    .paletteSection .bx-wrapper .bx-controls-direction {
      position: absolute !important;
      width: 100%;
      bottom: -62px; }
      .paletteSection .bx-wrapper .bx-controls-direction .bx-prev {
        left: -46px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-prev.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .paletteSection .bx-wrapper .bx-controls-direction .bx-prev:hover, .paletteSection .bx-wrapper .bx-controls-direction .bx-prev:active {
          background-image: url("../image/mobile-prev-hover.png"); }
      .paletteSection .bx-wrapper .bx-controls-direction .bx-next {
        right: -46px;
        width: 37px;
        height: 32px;
        background-image: url("../image/mobile-next.png");
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover; }
        .paletteSection .bx-wrapper .bx-controls-direction .bx-next:hover, .paletteSection .bx-wrapper .bx-controls-direction .bx-next:active {
          background-image: url("../image/mobile-next-hover.png"); }
  .paletteSection #slider2-pager {
    max-width: 884px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -5px; }
    .paletteSection #slider2-pager a {
      width: 72px;
      height: 72px;
      display: inline-block;
      letter-spacing: 0px; }
      .paletteSection #slider2-pager a:not(:last-child) {
        margin-right: 29px; }
      .paletteSection #slider2-pager a img {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%; }
  @media (max-width: 991px) {
    .paletteSection #slider2-pager {
      max-width: 884px;
      text-align: center;
      margin: 0 auto;
      letter-spacing: -5px; }
      .paletteSection #slider2-pager a {
        width: 60px;
        height: 60px;
        display: inline-block;
        letter-spacing: 0px; }
        .paletteSection #slider2-pager a:not(:last-child) {
          margin-right: 23px; }
        .paletteSection #slider2-pager a img {
          width: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          height: 100%; } }
  @media (max-width: 820px) {
    .paletteSection #slider2-pager {
      display: none; }
    .paletteSection .bx-wrapper .bx-controls-direction {
      bottom: -webkit-calc(100% + 13px);
      bottom: calc(100% + 13px); }
      .paletteSection .bx-wrapper .bx-controls-direction .bx-prev {
        left: 5px; }
      .paletteSection .bx-wrapper .bx-controls-direction .bx-next {
        right: 5px; } }
  @media (max-width: 640px) {
    .paletteSection {
      padding-top: 10px;
      padding-bottom: 10px; }
      .paletteSection .bx-wrapper {
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px);
        margin-left: -15px; }
        .paletteSection .bx-wrapper img {
          min-height: 240px;
          -o-object-fit: cover;
             object-fit: cover; } }

.calcSection {
  padding-top: 50px;
  padding-bottom: 64px;
  overflow: hidden; }
  @media (max-width: 640px) {
    .calcSection .mobile-width {
      display: inline-block;
      min-width: 108px; }
      .calcSection .mobile-width .bx-prev {
        left: 0px; } }
  .calcSection .calcResult {
    background-image: url("../image/calc-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    @media (max-width: 768px) {
      .calcSection .calcResult {
        width: -webkit-calc(100% + 80px);
        width: calc(100% + 80px);
        margin-left: -39px; } }
  .calcSection .calcWrap {
    font-family: "Rubik";
    font-style: italic;
    color: #4d311a;
    font-weight: lighter;
    font-size: 16px; }
    @media (max-width: 991px) {
      .calcSection .calcWrap {
        padding-bottom: 35px; } }
    .calcSection .calcWrap .mainButton {
      max-width: 195px;
      font-style: normal;
      margin-top: 40px; }
      @media (max-width: 1199px) {
        .calcSection .calcWrap .mainButton {
          margin: 0 auto;
          display: block; } }
    .calcSection .calcWrap .calcList {
      letter-spacing: -5px; }
      .calcSection .calcWrap .calcList .calcList-left {
        letter-spacing: 0px;
        display: inline-block;
        width: 50%;
        vertical-align: top; }
        .calcSection .calcWrap .calcList .calcList-left .leftItem {
          margin-bottom: 33px; }
        @media (max-width: 640px) {
          .calcSection .calcWrap .calcList .calcList-left {
            width: 100%; } }
      .calcSection .calcWrap .calcList .calcList-right {
        letter-spacing: 0px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-right: 40px; }
        .calcSection .calcWrap .calcList .calcList-right .rightItem {
          text-align: right;
          position: relative;
          top: -5px;
          margin-bottom: 18px; }
          .calcSection .calcWrap .calcList .calcList-right .rightItem input {
            max-width: 98px;
            height: 37px;
            border: 1px solid #4d311a;
            -webkit-border-radius: 6px;
                    border-radius: 6px;
            margin-left: 30px;
            margin-right: 10px; }
        @media (max-width: 1199px) {
          .calcSection .calcWrap .calcList .calcList-right {
            padding-right: 0; } }
        @media (max-width: 640px) {
          .calcSection .calcWrap .calcList .calcList-right {
            width: 100%; }
            .calcSection .calcWrap .calcList .calcList-right .rightItem {
              text-align: left; } }
    .calcSection .calcWrap [type="radio"]:checked,
    .calcSection .calcWrap [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px; }
    .calcSection .calcWrap [type="radio"]:checked + label,
    .calcSection .calcWrap [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 37px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #4d311a; }
    .calcSection .calcWrap [type="radio"]:checked + label:before,
    .calcSection .calcWrap [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 23px;
      height: 23px;
      border: 1px solid #4d311a;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background: #fff; }
    .calcSection .calcWrap [type="radio"]:checked + label:after,
    .calcSection .calcWrap [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #6dc13d;
      position: absolute;
      top: 7px;
      left: 7px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .calcSection .calcWrap [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }
    .calcSection .calcWrap [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
  .calcSection .jq-selectbox {
    width: 100%;
    margin-bottom: 40px; }
    .calcSection .jq-selectbox select {
      width: 100%;
      border: 1px solid #4d311a;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      padding: 9px;
      padding-left: 28px; }
  .calcSection .sectionTitle {
    text-align: left; }
    @media (max-width: 991px) {
      .calcSection .sectionTitle {
        text-align: center; } }
  .calcSection .resultWrap {
    padding: 10px 50px 19px 40px; }
    .calcSection .resultWrap .result {
      letter-spacing: -5px;
      margin-top: 40px; }
      .calcSection .resultWrap .result .resultResult {
        font-family: "Rubik";
        font-weight: lighter;
        color: #6f4211;
        font-style: italic;
        margin-bottom: 15px;
        letter-spacing: 0px;
        display: inline-block;
        width: 50%; }
        .calcSection .resultWrap .result .resultResult:last-child {
          text-align: right; }
        .calcSection .resultWrap .result .resultResult span {
          font-size: 21px;
          font-weight: 500;
          font-style: normal;
          display: inline-block;
          margin: 0px 4px 0px 10px; }
        @media (max-width: 1199px) {
          .calcSection .resultWrap .result .resultResult {
            width: 100%;
            margin-bottom: 5px; }
            .calcSection .resultWrap .result .resultResult:last-child {
              text-align: left; } }
    @media (max-width: 768px) {
      .calcSection .resultWrap {
        padding-bottom: 0px; } }
  .calcSection .resultTitle {
    font-size: 30px;
    color: #6f4211;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 38px; }
    @media (max-width: 640px) {
      .calcSection .resultTitle {
        font-size: 20px; } }
  .calcSection .resultItem {
    margin-bottom: 9px;
    letter-spacing: -5px; }
  .calcSection .resultItem-title {
    font-family: "Rubik";
    font-weight: lighter;
    color: #6f4211;
    font-style: italic;
    display: inline-block;
    max-width: 200px;
    width: 50%;
    letter-spacing: 0px; }
    .calcSection .resultItem-title .resultItem-img {
      margin-right: 9px;
      display: inline-block;
      width: 60px;
      text-align: right; }
      @media (max-width: 500px) {
        .calcSection .resultItem-title .resultItem-img {
          display: none; } }
    .calcSection .resultItem-title.l5 img {
      width: 45px; }
    .calcSection .resultItem-title.l3 img {
      width: 39px; }
    .calcSection .resultItem-title.l1 img {
      width: 30px; }
    .calcSection .resultItem-title.l05 img {
      width: 24px; }
  .calcSection .resultCount {
    font-family: "Rubik";
    font-size: 16px;
    color: #6f4211;
    display: inline-block;
    width: 50%;
    letter-spacing: 0px;
    text-align: right; }
    .calcSection .resultCount span {
      font-size: 21px;
      font-weight: 500;
      display: inline-block;
      margin-right: 17px; }
  .calcSection .sendCalc {
    background-image: url("../image/post-bg.jpg");
    padding: 20px 0;
    margin-top: 62px; }
    @media (max-width: 1199px) {
      .calcSection .sendCalc {
        padding-bottom: 32px; } }
    @media (max-width: 768px) {
      .calcSection .sendCalc {
        margin-top: 0;
        padding-top: 0px; } }
    .calcSection .sendCalc .sendTitle {
      font-size: 35px;
      font-family: "Roboto Slab", sans-serif;
      color: #6f4211; }
      @media (max-width: 640px) {
        .calcSection .sendCalc .sendTitle {
          font-size: 20px;
          text-align: center; } }
    .calcSection .sendCalc form {
      position: relative;
      margin-top: 30px; }
    .calcSection .sendCalc .sender {
      padding-right: 60px; }
      @media (max-width: 1199px) {
        .calcSection .sendCalc .sender {
          padding-right: 15px; } }
    .calcSection .sendCalc .sendCalcInput {
      -webkit-box-shadow: inset 6px 8px 17px -5px rgba(208, 208, 208, 0.75);
              box-shadow: inset 6px 8px 17px -5px rgba(208, 208, 208, 0.75);
      font-size: 16px;
      font-style: italic;
      color: #6f4211;
      font-family: "Rubik";
      font-weight: lighter;
      padding: 24px 36px;
      width: 100%;
      border: none;
      -webkit-border-radius: 40px;
              border-radius: 40px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      @media (max-width: 640px) {
        .calcSection .sendCalc .sendCalcInput {
          font-size: 13px; } }
      .calcSection .sendCalc .sendCalcInput:focus {
        outline: none; }
      .calcSection .sendCalc .sendCalcInput::-webkit-input-placeholder {
        color: #6f4211; }
      .calcSection .sendCalc .sendCalcInput::-moz-placeholder {
        color: #6f4211; }
      .calcSection .sendCalc .sendCalcInput:-moz-placeholder {
        color: #6f4211; }
      .calcSection .sendCalc .sendCalcInput:-ms-input-placeholder {
        color: #6f4211; }
    .calcSection .sendCalc .sendCalcSubmit {
      width: 70px;
      height: 70px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: none;
      background: #07c229;
      top: 0;
      position: absolute;
      right: 0px; }
    .calcSection .sendCalc .sendCalcTreangle {
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 25px;
      z-index: 9;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: 30px; }
  @media (max-width: 640px) {
    .calcSection {
      padding-top: 0px;
      padding-bottom: 15px; }
      .calcSection .container {
        padding-right: 0;
        padding-left: 0; }
      .calcSection .sectionTitle {
        margin-bottom: 25px; } }

.shopSection .shopSection-item {
  margin-bottom: 49px; }

.shopSection .shopSection-wrap .shopItem-img {
  text-align: center; }
  .shopSection .shopSection-wrap .shopItem-img img {
    max-width: 100%; }

.shopSection .shopSection-wrap .shopItem-name {
  font-family: "Rubik";
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-top: 15px; }
  @media (max-width: 640px) {
    .shopSection .shopSection-wrap .shopItem-name {
      font-size: 13px; } }

.shopSection .shopSection-wrap .shopItem-price {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto Slab", sans-serif;
  color: #07c229;
  text-align: center;
  margin-top: 6px; }

.shopSection .shopSection-wrap .shopItem-buy {
  display: block;
  width: 100%;
  max-width: 128px;
  background-color: #fedebb;
  text-align: center;
  color: #6f4211;
  font-style: italic;
  font-weight: lighter;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 5px 0;
  margin: 0 auto;
  margin-top: 14px; }

@media (max-width: 640px) {
  .shopSection .container {
    padding-right: 0px;
    padding-left: 0px; }
  .shopSection .shopSection-item {
    margin-bottom: 36px; } }

.mapSection .mapSection-list {
  padding-top: 32px;
  padding-bottom: 54px; }
  .mapSection .mapSection-list .mapList-item {
    color: #07c229;
    font-style: italic;
    font-weight: lighter; }
    .mapSection .mapSection-list .mapList-item:not(:last-child) {
      margin-bottom: 20px; }
    .mapSection .mapSection-list .mapList-item span {
      color: #6f4211; }
  @media (max-width: 640px) {
    .mapSection .mapSection-list {
      padding-bottom: 20px; }
      .mapSection .mapSection-list ul {
        padding: 0; } }

@media (max-width: 640px) {
  .mapSection .sectionTitle {
    margin-bottom: 30px; } }

footer {
  background-color: #6f4211;
  padding-top: 52px;
  padding-bottom: 176px; }
  footer .footer-logo {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    margin-top: -24px; }
    footer .footer-logo img {
      max-width: 100%; }
  footer .footer-siteMap {
    letter-spacing: -5px;
    display: inline-block;
    width: -webkit-calc(100% - 298px);
    width: calc(100% - 298px);
    vertical-align: top; }
    footer .footer-siteMap .siteMap-item {
      display: block;
      color: #ffffff;
      margin-bottom: 10px;
      font-size: 18px; }
    footer .footer-siteMap .siteMap-left {
      width: 50%;
      display: inline-block;
      letter-spacing: 0px; }
    footer .footer-siteMap .siteMap-right {
      width: 50%;
      display: inline-block;
      letter-spacing: 0px; }
  footer .footer-phones {
    display: inline-block;
    width: -webkit-calc(100% - 170px);
    width: calc(100% - 170px);
    vertical-align: top; }
    footer .footer-phones .footer-phone {
      letter-spacing: 2px;
      font-family: "Roboto Slab", sans-serif;
      font-size: 25px;
      color: #ffffff; }
  footer .footer-other {
    display: inline-block;
    vertical-align: top; }
    footer .footer-other .mainButton {
      width: 165px;
      margin-bottom: 30px; }
    footer .footer-other .footer-social {
      text-align: center; }
      footer .footer-other .footer-social .social-item {
        padding: 0 6px; }
  @media (max-width: 1199px) {
    footer .footer-logo {
      margin-top: 0; }
    footer .footer-siteMap {
      width: 100%;
      margin-top: 20px; }
    footer .footer-phones {
      width: 100%;
      margin-bottom: 30px;
      text-align: center; }
    footer .footer-other {
      width: 100%;
      text-align: center; } }
  @media (max-width: 991px) {
    footer {
      padding-bottom: 45px;
      padding-top: 19px; }
      footer .footer-logo {
        text-align: center;
        display: block; }
      footer .footer-siteMap {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 48px; }
        footer .footer-siteMap .siteMap-left {
          display: block;
          width: 100%; }
        footer .footer-siteMap .siteMap-right {
          display: block;
          width: 100%; }
      footer .footer-phones {
        width: 100%;
        margin-bottom: 30px; } }

.tdu {
  text-decoration: underline; }

.sectionTitle {
  color: #6f4211;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .sectionTitle {
      font-size: 25px; } }

.subTitle {
  color: #6f4211;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  margin: 0; }

.font-white {
  color: #ffffff; }

.font-gray {
  color: #777777; }

.mainButton {
  display: inline-block;
  font-family: "Rubik";
  font-weight: bold;
  background-color: #fedebb;
  color: #4d311a;
  font-size: 16px;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  width: 100%;
  text-transform: uppercase; }
  .mainButton.green {
    background-color: #07c229;
    color: #ffffff; }
  .mainButton:hover {
    background-color: #6f4211;
    color: #fff;
    text-decoration: none; }
  .mainButton.xs {
    max-width: 165px; }
  .mainButton.md {
    max-width: 275px; }
  .mainButton.lg {
    max-width: 375px; }

.posStat {
  position: static; }

.posRel {
  position: relative; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #dcdcdc;
  border: 1px solid #bcbcbc; }
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #07c229; }

@media (max-width: 640px) {
  .mobile-padding-none {
    padding-left: 0px;
    padding-right: 0px; } }
